<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='node_modules/materialize-css/dist/css/materialize.min.css') }}" media="screen,projection"/>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>inewstycja</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo center">Analiza inwestycji 1000zł w trzy waluty na 30 dni</a>
                </div>
            </nav>
        </div>
        <div class="row"></div>
        <form action="/analyze" method="POST" onsubmit="return validateForm()">
            <div class="row">
                <div class="input-field col s4 offset-s3">
                    <select name="curr_first">
                        <option value="" disabled selected>Wybierz...</option>
                        {% for curr in currency_list %}
                            <option value="{{curr.code}}">{{curr.currency}} ({{curr.code}})</option>
                        {% endfor %}
                    </select>
                    <label>Pierwsza waluta</label>
                </div>
                <div class="input-field col s2">
                    <input id="first-amount" type="number" name="percentage_first" class="validate" max="98" step="1" min="1">
                    <label for="first-amount">Procentowa wartość inwestycji</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4 offset-s3">
                    <select name="curr_second">
                        <option value="" disabled selected>Wybierz...</option>
                        {% for curr in currency_list %}
                            <option value="{{curr.code}}">{{curr.currency}} ({{curr.code}})</option>
                        {% endfor %}
                    </select>
                    <label>Druga waluta</label>
                </div>
                <div class="input-field col s2">
                    <input id="second-amount" type="number" name="percentage_second" class="validate" max="98" step="1" min="1">
                    <label for="second-amount">Procentowa wartość inwestycji</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4 offset-s3">
                    <select name="curr_third">
                        <option value="" disabled selected>Wybierz...</option>
                        {% for curr in currency_list %}
                            <option value="{{curr.code}}">{{curr.currency}} ({{curr.code}})</option>
                        {% endfor %}
                    </select>
                    <label>Trzecia waluta</label>
                </div>
                <div class="input-field col s2">
                    <input id="third-amount" type="number" name="percentage_third" class="validate" max="98" step="1" min="1">
                    <label for="third-amount">Procentowa wartość inwestycji</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input id="start_date" type="text" name="start_date" class="datepicker" autocomplete="off">
                    <label for="start_date">Data rozpoczęcia inwestycji</label>
                    <span class="grey-text">Maksymalna data do wybory - miesiąc wstecz, aby wyświetlić poprawne dane</span><br>
                    <span class="grey-text">System automatycznie obliczy datę końca inwestycji (30 dni)</span>
                </div>
            </div>
            <div class="row">
                <button class="btn col s6 offset-s3">Analizuj</button>
            </div>
        </form>

        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>
    </body>
</html>
