<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='node_modules/materialize-css/dist/css/materialize.min.css') }}" media="screen,projection"/>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>inwestycja</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo center">Analiza inwestycji 1000zł w trzy waluty na 30 dni</a>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <p class="flow-text">Wynik analizy:</p>
                <p class="flow-text">
                    <br>1000 PLN zainwestowane w {{curr_first}} ({{percentage_first}}%), {{curr_second}} ({{percentage_second}}%), {{curr_third}} ({{percentage_third}}%) wypłacone po 30 dniach dało: {{ last_total }} PLN.
                    <br>Bilans zysków/strat: {{ bilance }} PLN. <br>
                    <br>Aby zyskać najwięcej powinieneś zakończyć inwestycję w dniu {{ best_date }}. Twój portfel byłby warty wtedy {{ highest_value }} PLN. 
                    <br>Bilans zysków/strat byłby równy: {{ best_bilance }} PLN.
                </p>                
            </div> 
        </div>
        <div class="row">
            <p class="flow-text" style="margin-left: 2%;">Wykresy:</p>
        </div>
        <div class="row">
            <div class="col s6">
                <img style="width: 100%;" src="{{ url_for('static', filename='graphs/investment_in_pln.png')}}" alt="">
            </div>
            <div class="col s6">
                <img style="width: 100%;" src="{{ url_for('static', filename='graphs/currency_rates.png')}}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <img style="width: 100%;" src="{{ url_for('static', filename='graphs/percentage_allocation_chart.png')}}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <img style="width: 100%;" src="{{ url_for('static', filename='graphs/pie_chart_start.png')}}" alt="">
            </div>
            <div class="col s6">
                <img style="width: 100%;" src="{{ url_for('static', filename='graphs/pie_chart_end.png')}}" alt="">
            </div>
        </div>
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>
    </body>
</html>
